# R artifacts
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

# objects
vdic_data
vectionary.rds
tests/images

# testing
tests/test_multimodal.R

# Claude
CLAUDE.md
.claude

# Others
inst/doc
vdic_logo.pptx